<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sca.ihavebeen" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".GameActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserProfileActivity"
            android:label="@string/title_activity_user_profile" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GameStart"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_game_start"
            android:parentActivityName=".UserProfileActivity"
            android:theme="@style/FullscreenTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sca.ihavebeen.UserProfileActivity" />
        </activity>
        <activity
            android:name=".NextRound"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_next_round"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name=".Results"
            android:label="@string/title_activity_results"
            android:parentActivityName=".UserProfileActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sca.ihavebeen.UserProfileActivity" />
        </activity>
    </application>

</manifest>
